.ee-logo {
  max-height: 90%;
  border-radius: 10px;
}

.ee-logo-padding {
  height: 90%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.navbar-wrapper {
  height: 6em;
  width: 100%;
  background-color: black;
}

.body-wrapper {
}

.body {
}
